{% load django_bootstrap5 %}<!-- カスタムテンプレートタグの読み込み -->

<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  {% bootstrap_css %}<!-- BootstrapのCSSの読み込み -->
  {% bootstrap_javascript %}<!-- JavaScriptの読み込み -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
  
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/calendar_app/style.css' %}">
  <script src="{% static '/calendar_app/app.js' %}"></script>
</head>

<body>
  <h1>課題管理アプリ</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-9 ">
        <div id='calendar'></div>
      </div>
      
      <div class="col-3">
        <h3>達成状況</h3>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>完了⚪︎</th>
            </tr>
          </thead>
          {% for item in todolists %}
            {% if item.priority == "primary" %}
              <tbody>
                <tr>
                  <td>
                    <div class="alert alert-{{ item.priority }}" role ="alert">
                      <p>{{ item.title }}</p>
                      <div>
                        <a href="{% url 'cal:detail' item.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">詳細</a>
                        <a href="{% url 'cal:update' item.pk %}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">編集</a>
                        <a href="{% url 'cal:delete' item.pk %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">削除</a>
                      </div>
                      <br>
                      <p>期日：{{ item.duedate  | date:"o/n/j" }}</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            {% endif %}
          {% endfor %}
        </table>
        
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>着手△</th>
            </tr>
          </thead>
          {% for item in todolists %}
            {% if item.priority == "warning" %}
              <tbody>
                <tr>
                  <td>
                    <div class="alert alert-{{ item.priority }}" role ="alert">
                      <p>{{ item.title }}</p>
                      <div>
                        <a href="{% url 'cal:detail' item.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">詳細</a>
                        <a href="{% url 'cal:update' item.pk %}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">編集</a>
                        <a href="{% url 'cal:delete' item.pk %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">削除</a>
                      </div>
                      <br>
                      <p>期日：{{ item.duedate  | date:"o/n/j" }}</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            {% endif %}
          {% endfor %}
        </table>
        
         <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>未着手×</th>
            </tr>
          </thead>
          {% for item in todolists %}
            {% if item.priority == "danger" %}
              <tbody>
                <tr>
                  <td>
                    <div class="alert alert-{{ item.priority }}" role ="alert">
                      <p>{{ item.title }}</p>
                      <div>
                        <a href="{% url 'cal:detail' item.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">詳細</a>
                        <a href="{% url 'cal:update' item.pk %}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">編集</a>
                        <a href="{% url 'cal:delete' item.pk %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">削除</a>
                      </div>
                      <br>
                      <p>期日：{{ item.duedate  | date:"o/n/j" }}</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            {% endif %}
          {% endfor %}
        </table>
        
         <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>期限切れ</th>
            </tr>
          </thead>
          {% for item in todolists %}
            {% if item.priority == "dark" %}
              <tbody>
                <tr>
                  <td>
                    <div class="alert alert-{{ item.priority }}" role ="alert">
                      <p>{{ item.title }}</p>
                      <div>
                        <a href="{% url 'cal:detail' item.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">詳細</a>
                        <a href="{% url 'cal:update' item.pk %}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">編集</a>
                        <a href="{% url 'cal:delete' item.pk %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">削除</a>
                      </div>
                      <br>
                      <p>期日：{{ item.duedate  | date:"o/n/j" }}</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            {% endif %}
          {% endfor %}
        </table>
        <a href="{% url 'cal:create' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">新規作成</a>
        
      </div>
      
    </div>
  </div>
  {% block content %}
  {% endblock %}
</body>
</html>